{% extends 'base.html' %}
{% load static %}

{% block content %}


{% include 'partials/top_main_nav.html' %}
<!-- carousel -->
<div class="container-fluid bg-dark p-0">
    <div id="carouselExampleCaptions" class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item bg-img-1 active">
                <!-- <img src="{{ MEDIA_URL }}carousel1.jpg" class="d-block w-100 img-fluid image1" alt="..."> -->
                <div class="carousel-caption d-flex flex-column align-items-start mb-2">
                    <h1 class="text-white fw-bold hero mb-3 ">FRESH PRODUCE</h1>
                    <a href="{% url 'products:store_products' %}" class="btn btn-lg btn-light px-5 mb-3"><span
                            class="h3">SHOP NOW</span></a>
                </div>
            </div>
            <div class="carousel-item bg-img-2">
                <!-- <img src="{{ MEDIA_URL }}carousel2.jpg" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption d-flex flex-column align-items-start mb-2">
                    <h1 class="text-white fw-bold hero mb-3 ">FRESH PRODUCE</h1>
                    <a href="{% url 'products:store_products' %}" class="btn btn-lg btn-light px-5 mb-3"><span
                            class="h3">SHOP NOW</span></a>
                </div>
            </div>
            <div class="carousel-item bg-img-3">
                <!-- <img src="{{ MEDIA_URL }}carousel3.jpg" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption d-flex flex-column align-items-start mb-2">
                    <!-- <h5 class="text-white">Third slide label</h5> -->
                    <h1 class="text-white fw-bold hero mb-3">FRESH PRODUCE</h1>
                    <a href="{% url 'products:store_products' %}" class="btn btn-lg btn-light px-5 mb-3 "><span
                            class="h3">SHOP NOW</span></a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container-fluid text-center">
    <h2 class="fw-bold">Best Sellers</h2>
    <div class="row pt-5">
        <div class="row">
            <div class="col-sm-4 my-2">
                <img src="{{ MEDIA_URL }}seller1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4 my-2">
                <img src="{{ MEDIA_URL }}seller2.jpg" alt="" class="img-fluid ">
            </div>
            <div class="col-sm-4 my-2">
                <img src="{{ MEDIA_URL }}seller3.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row py-3 d-flex justify-content-center">
            <div class="col-xl-4 col-md-6 col-12 ">
                <!-- MaiChimp Signup Form -->
                <div id="mc_embed_shell">        
                    <div id="mc_embed_signup">
                        <form
                            action="https://github.us22.list-manage.com/subscribe/post?u=4ea23a2d636f8193e6ebeb522&amp;id=43b2a13f43&amp;f_id=006dcee1f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h2>Subscribe</h2>
                                <div class="indicates-required"><span class="asterisk">*</span> Indicates required</div>
                                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                            class="asterisk">*</span></label><input type="email" name="EMAIL"
                                        class="required email" id="mce-EMAIL" required="" value=""></div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    /* real people should not fill this in and expect good things - do not remove this
                                    or risk form bot signups */
                                    <input type="text" name="b_4ea23a2d636f8193e6ebeb522_43b2a13f43" tabindex="-1"
                                        value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                            value="Subscribe">
                                        <p style="margin: 0px auto;"><a href="http://eepurl.com/iPN7bg"
                                                title="Mailchimp - email marketing made easy and fun"><span
                                                    style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                        class="refferal_badge"
                                                        src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                        alt="Intuit Mailchimp"
                                                        style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js">
                    </script>
                    <script>
                        (function ($) {
                            window.fnames = new Array();
                            window.ftypes = new Array();
                            fnames[0] = 'EMAIL';
                            ftypes[0] = 'email';
                            fnames[1] = 'FNAME';
                            ftypes[1] = 'text';
                            fnames[2] = 'LNAME';
                            ftypes[2] = 'text';
                            fnames[3] = 'ADDRESS';
                            ftypes[3] = 'address';
                            fnames[4] = 'PHONE';
                            ftypes[4] = 'phone';
                            fnames[5] = 'BIRTHDAY';
                            ftypes[5] = 'birthday';
                        }(jQuery));
                        var $mcj = jQuery.noConflict(true);
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/footer.html' %}
<!-- carousel -->
{% endblock %}