<div class="footer-dark container-fluid">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <!-- <h3>Services</h3> -->
                    <ul>
                        <!-- <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li> -->
                        <img src="{{MEDIA_URL}}logo.png" alt="" class="img-fluid">
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <!-- <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li> -->
                        <!-- <img src="images/LOGO-00-1.png" alt="" class="img-fluid"> -->
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Bella Cuccina Market</h3>
                    <p>
                        BellaCuccina Market was born out of a love for authentic Italian food
                         and a desire to share the unparalleled quality and tradition of Italian
                          ingredients with food enthusiasts around the world. From the rolling
                           hills of Tuscany to the sun-drenched coastlines of Sicily, we source our
                            products from trusted artisans and farmers who take pride in their craft, 
                            ensuring that every item meets the highest standards of quality and taste.
                    </p>
                </div>
                <div class="col item social">
                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-snapchat"></i></a>
                    <a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright"> by Bogdan Maria © 2024</p>
        </div>
    </footer>
</div>