{% extends 'base.html' %}
{% load static %}
{% load cart_tool %}

{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact_about/css/about.css' %}">
{% endblock %}
{% include 'partials/top_main_nav.html' %}

<div class="container-fluid">
    <!-- Top Section -->
    <div class="row top-section">

    </div>

    <!-- About Us Section -->
    <div class="row d-flex justify-content-center">
        <div class=" col-xl-5 col-md-12 about-us-section">
            <h2 class="p-3 w-50 mx-auto">About Us</h2>
            <p class="p-3 mx-auto">Welcome to BellaCuccina Market, your premier online destination for the finest Italian culinary delights.
                 At BellaCuccina, we are passionate about bringing the rich and diverse flavors of Italy directly to your doorstep.
                  Our carefully curated selection features an exquisite range of pasta, cured meats, and fresh produce, ensuring that
                   every meal you prepare is a true celebration of Italian cuisine.
            </p>
        </div>
        <div class="col-xl-7 col-md-7 col-12 m-auto p-4 d-flex justify-content-center"><img src="{{MEDIA_URL}}carousel1.jpg" alt="" class="img-fluid"></div>
    </div>
</div>
<!-- Contact and Image Section -->
<div class="row contact-row pt-2" id="contact">
    <h4 class="text-center fw-bold p-3">Contact Us</h4>
    <div class="col-md-6 contact-column pb-4">
        <!-- Contact Form will be inserted here -->
        <form action="{% url 'contact_about:contact_about'%}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Send message</button>
        </form>
    </div>
    <div class="col-md-6 image-column pt-0">
        <div class="d-flex justify-content-center">
            <img src="{{ MEDIA_URL}}contact_bottom.jpg" alt="" class="card-img-top img-fluid about-img">
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}
{% endblock%}